* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFF7ED;
}

h1 {
  margin: 0;
}

.header{
  height: 120px;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > nav {
  margin-left: auto;
}

.home-link {
  margin-left: 10px;
  text-decoration: none;
  color: #4d4d4d;
}

.vanlife-link {
  text-decoration: none;
  color: #000000;
}

main, .header {
  padding: 0 26px ;
}

.van {
  margin-block: 20px;
}

.van-link {
  text-decoration: none;
  color: #161616;
}

.van-type {
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFEAD0;
  border-radius: 5px;
}

.simple {
  background-color: #E17654;
}

.rugged {
  background-color: #115E59;
}

.luxury {
  background-color: #161616;
}

.van-img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
}

.van-filter {
  margin: 20px 0;
}

.van-filter > a {
  color: #4d4d4d;
  background-color: #FFEAD0;
  text-decoration: none;
}

.simpleBtn:hover,
.simpleBtn.selected
 {
  background-color: #E17654;
  color: #FFEAD0;
}

.luxuryBtn:hover,
.luxuryBtn.selected {
  background-color: #161616;
  color: #FFEAD0;
}

.ruggedBtn:hover,
.ruggedBtn.selected {
  background-color: #115E59;
  color: #FFEAD0;
}

.van-detail-img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin: 16px 0;
}

.rentBtn{
  background-color: #FF8C38;
  width: 100%;
  padding: 10px 20px;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 32px;
}

.van-name {
  margin-top: 16px;
}

.van-detail-wrapper > a {
  color: #161616;
}

.host-nav {
  margin-bottom: 32px;
}

.host-van-container {
  background-color: #FFFFFF;
  margin: 16px 0;
  padding: 16px;
  display: flex;
  gap: 16px;
  border-radius: 5px;
}

.host-van-img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.host-van-names > h3,
.host-van-names > p {
  margin: 0;
}

.host-van-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.host-van-names > p {
  color: #4d4d4d;
}

.host-van-names > h3 {
  color: #161616;
}

.host-vans > a {
  text-decoration: none;
}