* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  margin: 0;
}

.header{
  height: 120px;
  background-color: #FFF7ED;
  padding: 0 26px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > nav {
  margin-left: auto;
}

.home-link {
  margin-left: 10px;
  text-decoration: none;
  color: #4d4d4d;
}

.vanlife-link {
  text-decoration: none;
  color: #000000;
}