* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-wrapper {
  background: blue;
}

h1 {
  margin: 0;
}

.header{
  height: 120px;
  background-color: #FFF7ED;
  padding: 0 26px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > nav {
  margin-left: auto;
}

.home-link {
  margin-left: 10px;
  text-decoration: none;
}