* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFF7ED;
}

h1 {
  margin: 0;
}

.header{
  height: 120px;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > nav {
  margin-left: auto;
}

.home-link {
  margin-left: 10px;
  text-decoration: none;
  color: #4d4d4d;
}

.vanlife-link {
  text-decoration: none;
  color: #000000;
}

main, .header {
  padding: 0 26px ;
}

.van {
  margin-block: 20px;
}

.van-type {
  /* height: 34px;
  width: 100px; */
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFEAD0;
  border-radius: 5px;
  background-color: #115E59;
}

.van-img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
}